{:paths ["src"]

 :deps {bbyaga/bbyaga {:local/root "../bbyaga"}}

 :aliases {}

 :tasks
 {lum {:doc  "manage lumination"
       :task luminare.cli/-main}

  outdated bbyaga.tasks/antq
  nrepl    bbyaga.tasks/nrepl
  wrap     bbyaga.tasks/wrap}}
