{:paths ["src"]

 :deps {bbyaga/bbyaga {:local/root "../bbyaga"}}

 :aliases {}

 :tasks
 {lum {:doc  "manage lumination"
       :task luminare.cli/-main}

  outdated bbyaga.task/outdated
  nrepl    bbyaga.task/nrepl
  wrap     bbyaga.task/wrap}}
